@import "./../../scss/variables.scss";
@import "./../../scss/mixins.scss";
.Home {
  text-align: center;
  .Home-header {
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #444;
    .textMixin {
      @include truncate(380px);
    }
  }
  .Home-link {
    color: $red;
  }
}
